* {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
.header {
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
}
.header-left {
  width: 50%;
}
.header-right {
  width: 50%;
}
